#background{
    position: absolute;
    opacity: 0.2;
    height: 100%;
  }
  #color
  {
    background-color:#f1f1f1;
  }
  
  
    body {
      /* fallback for old browsers */
      
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgba(255, 134, 78, 0.88), rgba(0, 0, 0, 1));
  
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgba(255, 134, 78, 0.88), rgba(0, 0, 0, 1))
    }