
@media screen and (max-width: 1380px) 
{
  .obdelnik{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
   }
   .reverse.obdelnik{
    flex-direction:column-reverse;
   }
}
