@media screen and (max-width: 1061px) 
{
  .prvni, .druhy{
    width:fit-content;
   margin: auto 6em ;
   text-align: center;
   display: inline-block;
  }
  .img_fader{
    width: 50%;
    float: none;
    margin: auto;
    display: block;
    height: max-content;
  }
  .img_fadel{
    width: 50%;
    float: none;
    margin: auto;
    display: block;
    /*fade from right side becouse of cuted area*/
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
 -webkit-mask-size: 100% ;
 -webkit-mask-position: left top, left bottom;
 mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));;
 mask-position: left top, left bottom;
 mask-size: 100%;

  }

}
@media screen and (max-width: 1380px) 
{
  .obdelnik{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
   }
}
