#profile{
  width: 200px;  
  margin:  auto;
}
.content{
    margin: auto;
    text-align: center;
    padding: 15px 15px 15px 15px;
}


 #img{
    display: none;
}
.upload :hover {
    cursor: pointer;
    background-color: #ff864ee1;
    padding: 10px 10px 10px 10px;
    transition: 0.5s;
    border-radius: 4px;
}
#informations{
    color: gray;

}